/* #region Showcase */
.bottom-link {
  text-decoration: none;
  color: var(--color-blue-light);
  font-family: inherit;
  font-weight: 800;

  transition: 0.4s ease;
}

.bottom-link:hover {
  transform: translateY(-4px);
}

.contact-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  left: 25px;
  bottom: 0;
  width: 30px;
}

.contact-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  right: 25px;
  bottom: 0;
  width: 30px;
}

.contact-container-right a {
  text-decoration: none;
  color: var(--color-gray-text);
  transform: rotate(90deg);

  margin-bottom: 90px;
  transition: 0.2s ease;

  font-size: 15px;
}

.contact-container-right a:hover {
  color: var(--color-blue-light) !important;
  transform: translateY(-4px) rotate(90deg) !important;
}

.contact-container-left a {
  margin: 5px 0 5px 0;
}

svg {
  color: var(--color-gray-text);
  transition: 0.2s ease;
}

svg:hover {
  color: var(--color-blue-light) !important;
  transform: translateY(-4px) !important;
}

.vertical-line {
  height: 200px;
  width: 0;
  border: 1px solid var(--color-gray-text);
}

.home-container {
  display: flex;
  width: 1000px;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.home-container p {
  width: 750px;
}

.home-container p {
  margin-bottom: 25px;
}
/* #endregion Showcase */

/* #region aboutMe */
.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 140px;

  padding-top: 15px;
}

.about-text {
  width: 510px;
}

.about-text p {
  width: 100%;
  margin: 30px 0 30px 0;

  font-weight: 400;
  text-align: justify;
}

.tech {
  display: flex;
  gap: 40px;
}
.tech p {
  display: flex;
  align-items: center;

  margin: 0;
  width: auto;

  font-weight: 800;
}
/* #endregion AboutME */

/* #region experiences */
.expeciences {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 60px;
  padding-top: 30px;
}

.jobs-btns {
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.job-description {
  height: 260px;
}

.job-description p {
  display: flex;
  align-items: flex-start;
}

.job-description p span {
  margin-top: 7px;
}
/* #endregion experiences */

/* #region works */
.works {
  text-align: center;

  margin-top: 30px;
}
.works .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 8px;
}
.works .highlight-text {
  color: var(--color-blue-light);
  font-size: 16px;
}
.works .box .highlight-text {
  font-weight: 400;
}
.works img {
  width: 24px;
  height: auto;
}
.works .highlight-description {
  background-color: var(--bg-blue-light);
  padding: 8px;
  border-radius: 6px;

  max-width: 700px;
  margin: 12px auto auto auto;
}

.archive-container {
  margin-top: 30px;
}

.archive-container p {
  font-weight: 400;
}

.archive-container .cards {
  margin-top: 15px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.cards .card {
  height: 300px;
  width: 360px;

  padding: 30px;

  background-color: var(--bg-blue-light);
  border-radius: 8px;
}

/* #endregion works */


/* #region contact */
.contact {
  text-align: center;
}

.contact h2 {
  font-size: 64px;
  text-transform: uppercase;
}

.contact p {
  
  width: 800px;
  margin: auto;
}
/* #endregion contact */